## Population 2016 (IRIS to DEPARTEMENT) - France
infra-communales

In [1]:
import pandas as pd
import numpy as np

In [2]:
# variable
# varpopIR = pd.read_excel('IRIS_population/variable_struct-pop-2016-cIA.xlsx')
# varpopIR

In [3]:
# population France hors Mayotte
franceDEPT = pd.read_excel('IRIS_population/base-ic-evol-struct-pop-2016-cIA.xls')

# population collectivité d'outre-mer (St-Pierre-Miquelon, St-Martin, St-Barthélemy)
popcomIR = pd.read_excel('IRIS_population/base-ic-evol-struct-pop-2016-com-cIA.xls')

In [4]:
print(franceDEPT.shape, popcomIR.shape)

(49637, 84) (21, 80)

### Volume de la population

In [5]:
print("\nTotal Population.:", "{:,.2f}".format(franceDEPT['P16_POP'].sum()),
      "\nTotal Hommes:", "{:,.2f}".format(franceDEPT['P16_POPH'].sum()),
      "\nTotal Femmes:", "{:,.2f}".format(franceDEPT['P16_POPF'].sum()),
      "\n\nPopulation par IRIS")

for i in franceDEPT['TYP_IRIS'].unique():
    print("IRIS Type",i, "{:,.2f}".format(franceDEPT.loc[franceDEPT['TYP_IRIS'] == i]['P16_POP'].sum()))

Total Population.: 66,361,587.27
Total Hommes: 32,112,732.25
Total Femmes: 34,248,855.02

Population par IRIS
IRIS Type Z 26,955,406.00
IRIS Type H 38,719,713.24
IRIS Type A 443,482.46
IRIS Type D 242,985.57

In [6]:
popmetIR = franceDEPT.copy()

In [7]:
# drop les colonnes de France qui n'apparaissent pas dans le fichier de la Collect. OM.
popmetIR = popmetIR.drop(columns=['REG', 'UU2010', 'TYP_IRIS', 'MODIF_IRIS'], axis=1)
popmetIR.shape

(49637, 80)

#### Merge du fichier France à celui des Collectivités d'Outre-Mer

In [8]:
import warnings
warnings.filterwarnings('ignore')

"""Ajout d'une colonne 'source' qui permet de faire la différence entre fichier France
   et Collectivités d'Outre-Mer."""

popmetIR['source'] = "france"
popcomIR['source'] = "coll_OM"

popglob = [popmetIR, popcomIR]
popglobIR = pd.concat(popglob)
print("popglobIR shape:", popglobIR.shape)

popglobIR shape: (49658, 161)

In [9]:
popglobIR.head()

,C16_F15P,C16_F15P_CS1,C16_F15P_CS2,C16_F15P_CS3,C16_F15P_CS4,C16_F15P_CS5,C16_F15P_CS6,C16_F15P_CS7,C16_F15P_CS8,C16_H15P,...,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 8,Unnamed: 9,source
0,285.000000,5.000000,5.000000,25.000000,50.000000,85.000000,30.000000,70.000000,15.000000,320.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,france
1,80.000000,0.000000,5.000000,10.000000,20.000000,25.000000,0.000000,20.000000,0.000000,115.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,france
2,755.798549,0.000000,0.000000,27.446859,99.457191,158.028018,59.452099,216.381754,195.032628,804.157826,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,france
3,1479.814533,0.934912,9.670152,37.520081,220.097097,354.962018,158.716105,351.399678,346.514489,1359.709195,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,france
4,1780.118966,0.000000,19.952862,105.188058,236.966388,407.311067,147.066671,529.371210,334.262710,1504.643372,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,france

In [10]:
# verification de types de données IRIS après merge
#popglobIR['IRIS'].apply(type).unique()

array([<class 'str'>, <class 'float'>], dtype=object)

Les IRIS de France sont du type 'str' tandis que celui des Collectivités OM sont du type 'int' ou 'float'. On homogénéise le tout en 'str'.

In [11]:
# conversion des IRIS 'int' en 'str'
popglobIR['IRIS'] = popglobIR['IRIS'].astype(str)

In [12]:
# nouvelle verification de types de données IRIS après merge
#popglobIR['IRIS'].apply(type).unique()

array([<class 'str'>], dtype=object)

#### All good!
On va procéder à un export afin de le conserver.

In [13]:
popglobIR.to_csv('IRIS_population/IRIS_population_Fr_CollOM.csv', index=False)

## Objectif Population

### DEPT POP ÂGE SEXE
**GEO** : DEPT<br>
**Pop âge**: 0-14 / 15-29 / 30-44 / 45-59 / 60-74 / 75 +<br>
**Pop homme âge**: 0-14 / 15-29 / 30-44 / 45-59 / 60-74 / 75 +<br>
**Pop femme âge**: 0-14 / 15-29 / 30-44 / 45-59 / 60-74 / 75 +<br>

In [14]:
dataIR = pd.read_csv('IRIS_population/IRIS_population_Fr_CollOM.csv')
dataIR

,C16_F15P,C16_F15P_CS1,C16_F15P_CS2,C16_F15P_CS3,C16_F15P_CS4,C16_F15P_CS5,C16_F15P_CS6,C16_F15P_CS7,C16_F15P_CS8,C16_H15P,...,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 8,Unnamed: 9,source
0,285.000000,5.000000,5.000000,25.000000,50.000000,85.000000,30.000000,70.000000,15.000000,320.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,france
1,80.000000,0.000000,5.000000,10.000000,20.000000,25.000000,0.000000,20.000000,0.000000,115.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,france
2,755.798549,0.000000,0.000000,27.446859,99.457191,158.028018,59.452099,216.381754,195.032628,804.157826,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,france
3,1479.814533,0.934912,9.670152,37.520081,220.097097,354.962018,158.716105,351.399678,346.514489,1359.709195,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,france
4,1780.118966,0.000000,19.952862,105.188058,236.966388,407.311067,147.066671,529.371210,334.262710,1504.643372,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,france
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.76690810220062,216.31576944043584,1233.8186540530437,912.7919203355708,883.5779725844097,2146.610574388614,0,2146.610574388614,91.3647280103574,coll_OM
49654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,174.2040293463,377.8520078501618,2831.88930908852,685.9939298589114,832.5877515478347,3517.8832389474314,0,3517.8832389474314,121.10462354929167,coll_OM
49655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,310.4365119823405,797.3176263635926,6251.122404213441,1148.55746635583,1444.6222951674529,7399.679870569271,0,7399.679870569271,318.8175061500872,coll_OM
49656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103.11646198941708,805.7737430762542,2751.8601596518533,1710.3480460381722,1646.5553140600823,4462.208205690025,0,4462.208205690025,237.7894317990432,coll_OM
49657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67.70319438888995,377.05104256875626,1488.907494430077,1043.239905579968,962.7873516247364,2532.147400010045,0,2532.147400010045,166.50514966218972,coll_OM

In [30]:
dataIR.isnull().sum()/len(dataIR)*100

C16_F15P         0.042289
C16_F15P_CS1     0.042289
C16_F15P_CS2     0.042289
C16_F15P_CS3     0.042289
C16_F15P_CS4     0.042289
                  ...
Unnamed: 78     99.963752
Unnamed: 79     99.963752
Unnamed: 8      99.963752
Unnamed: 9      99.963752
source           0.000000
Length: 161, dtype: float64

In [50]:
print("Total Population Fr & COM:","{:,.2f}".format(dataIR['P16_POP'].sum()))

Total Population Fr & COM: 66,413,134.27

In [51]:
dataIR_base = dataIR[['IRIS', 'DEP', 'LIBCOM', 'GRD_QUART', 'LIBIRIS', 'TRIRIS', 'LAB_IRIS', 'P16_POP', 'P16_POP0002', 'P16_POP0305',
                 'P16_POP0610', 'P16_POP1117', 'P16_POP1824', 'P16_POP2539', 'P16_POP4054', 'P16_POP5564',
                 'P16_POP6579', 'P16_POP80P', 'P16_POP0019', 'P16_POP2064', 'P16_POP65P', 'P16_POPH', 'P16_H0019',
                 'P16_H2064', 'P16_H65P','P16_POPF', 'P16_F0019', 'P16_F2064', 'P16_F65P', 'C16_POP15P', 'C16_H15P', 'C16_H15P_CS1',
                 'C16_H15P_CS2', 'C16_H15P_CS3', 'C16_H15P_CS4', 'C16_H15P_CS5', 'C16_H15P_CS6', 'C16_H15P_CS7',
                 'C16_H15P_CS8', 'C16_F15P', 'C16_F15P_CS1', 'C16_F15P_CS2', 'C16_F15P_CS3', 'C16_F15P_CS4',
                 'C16_F15P_CS5', 'C16_F15P_CS6', 'C16_F15P_CS7', 'C16_F15P_CS8', 'P16_POP_FR', 'P16_POP_ETR', 'P16_POP_IMM',
                 'P16_PMEN', 'P16_PHORMEN']]

In [55]:
dataIR_new = dataIR.drop(columns=['COM', 'GRD_QUART', 'LIBIRIS','TRIRIS', 'LAB_IRIS', 'P16_POP0002', 'P16_POP0305',
                                  'P16_POP0610', 'P16_POP1117', 'P16_POP1824', 'P16_POP2539', 'P16_POP4054', 'P16_POP5564',
                                  'P16_POP6579', 'P16_POP80P', 'P16_POP0014', 'P16_POP0019',
                                  'P16_POP2064', 'P16_POP65P', 'P16_H0019', 'C16_H15P_CS1', 'C16_H15P_CS2', 'C16_H15P_CS3', 'C16_H15P_CS4', 'C16_H15P_CS5', 'C16_H15P_CS6',
                                  'C16_H15P_CS7', 'C16_H15P_CS8', 'C16_F15P_CS1', 'C16_F15P_CS2', 'C16_F15P_CS3', 'C16_F15P_CS4',
                                  'C16_F15P_CS5', 'C16_F15P_CS6', 'C16_F15P_CS7', 'C16_F15P_CS8', 
                                  'P16_H2064', 'P16_H65P', 'P16_F0019', 'P16_F2064', 'P16_F65P', 'C16_POP15P', 'C16_H15P', 'C16_F15P', 'C16_POP15P_CS1',
                                  'C16_POP15P_CS2', 'C16_POP15P_CS3', 'C16_POP15P_CS4', 'C16_POP15P_CS5', 'C16_POP15P_CS6', 'C16_POP15P_CS7',
                                  'C16_POP15P_CS8', 'P16_POP_FR', 'P16_POP_ETR', 'P16_POP_IMM',
                                  'P16_PMEN', 'P16_PHORMEN'], axis=1)

In [56]:
dataIR_new.head()

,IRIS,DEP,LIBCOM,P16_POP,P16_POP1529,P16_POP3044,P16_POP4559,P16_POP6074,P16_POP75P,P16_POPH,...,P16_H6074,P16_H75P,P16_POPF,P16_F0014,P16_F1529,P16_F3044,P16_F4559,P16_F6074,P16_F75P,source
0,10010000,1,L'Abergement-Clémenciat,767.000000,102.000000,132.000000,189.000000,125.000000,58.000000,392.000000,...,61.000000,28.000000,375.000000,77.000000,47.000000,67.000000,90.000000,64.000000,30.000000,france
1,10020000,1,L'Abergement-de-Varey,243.000000,28.000000,70.000000,37.000000,34.000000,19.000000,123.000000,...,22.000000,10.000000,120.000000,29.000000,18.000000,32.000000,20.000000,12.000000,9.000000,france
2,10040101,1,Ambérieu-en-Bugey,1893.112206,519.011004,346.937127,259.198657,295.470786,153.339057,995.484433,...,140.946341,67.457789,897.627773,146.829316,228.196459,150.399826,131.796460,154.524445,85.881268,france
3,10040102,1,Ambérieu-en-Bugey,3546.210164,795.052938,737.794854,607.335319,425.641161,273.699455,1742.315872,...,168.173042,82.269306,1803.894292,324.079759,395.998460,350.263925,284.653879,257.468120,191.430150,france
4,10040201,1,Ambérieu-en-Bugey,4100.003588,848.693971,732.298592,717.244067,591.336732,409.189232,1911.360437,...,235.452797,143.979846,2188.643152,399.524021,419.634896,378.848273,369.542642,355.883935,265.209386,france

In [57]:
dataIR_new.apply(lambda x: len(x.unique()))

IRIS           49653
DEP              105
LIBCOM         33043
P16_POP        25445
P16_POP1529    40893
P16_POP3044    41169
P16_POP4559    41355
P16_POP6074    41179
P16_POP75P     40598
P16_POPH       41817
P16_H0014      40344
P16_H1529      40019
P16_H3044      40368
P16_H4559      40546
P16_H6074      40390
P16_H75P       39340
P16_POPF       41856
P16_F0014      40251
P16_F1529      39916
P16_F3044      40320
P16_F4559      40573
P16_F6074      40420
P16_F75P       39761
source             2
dtype: int64

In [58]:
dataIR_new.shape

(49653, 24)

### Checking missing values
No data are missing!

In [60]:
dataIR_new.isnull().sum()/len(dataIR_new)*100

IRIS           0.0
DEP            0.0
LIBCOM         0.0
P16_POP        0.0
P16_POP1529    0.0
P16_POP3044    0.0
P16_POP4559    0.0
P16_POP6074    0.0
P16_POP75P     0.0
P16_POPH       0.0
P16_H0014      0.0
P16_H1529      0.0
P16_H3044      0.0
P16_H4559      0.0
P16_H6074      0.0
P16_H75P       0.0
P16_POPF       0.0
P16_F0014      0.0
P16_F1529      0.0
P16_F3044      0.0
P16_F4559      0.0
P16_F6074      0.0
P16_F75P       0.0
source         0.0
dtype: float64

In [61]:
dataIR_new.to_csv('IRIS_population/DEPT_population_France_CO-M.csv')

# NEXT STEP Plotting